:root {
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #171321;
    font-family: var(--mono);
}


.poetry {
    list-style: none;
    text-decoration: none;
    line-height: 22px;
    letter-spacing: 0.5px;
    border-radius: 20px;
    font-family: var(--sans);
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}


button {

    margin: 30px;
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


.title {
    font-size: larger;
    word-spacing: 1px;
}



.container {
    background-color: white;
    width: 50%;
    height: 100%;
    margin: 20px auto;
    border-radius: 20px;
}